// Colours

$primary-colour: #14aeed;
$secondary-colour: #02295d;
$primary-text: #000000;
$secondary-text: #ffffff;
$text-hover: #ecad82;

// Font-families

$heading: "Nanum Gothic", sans-serif;
$text: "Noto Sans KR", sans-serif;

// General styles

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

figure {
  margin: 0;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

fieldset {
  border: 0;
}

p {
  font-family: $text;
  color: $primary-text;
  font-weight: 400;
  font-size: 3rem;
}

a:hover,
a:focus {
  color: $text-hover;
}

button {
  padding: 15px 10px;
  font-size: 3rem;
  border: none;

}
