header {
    background-color: $primary-colour;
    height: 50vh;
}

h1 {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 7rem;
    text-align: center;
    color: $text-colour;
    font-weight: 800;
    margin: 0;
    padding: 100px;
}


