header {
    background-color: $primary-colour;
    height: 50vh;
}

h1 {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 7rem;
    color: $secondary-text;
    color: white;
    font-weight: 800;
    text-align: center;
    margin: 0 auto;
    padding: 100px;
    width: 85%;
}


// Responsive styles 

@media (max-width: 940px) {
    h1 {
        padding: 50px;

    }


}