html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 3rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

figure {
  margin: 0;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

fieldset {
  border: 0;
}

p {
  font-family: "Noto Sans KR", sans-serif;
  color: #000000;
  font-weight: 400;
}

button {
  padding: 15px 15px;
  border: none;
  background-color: #14aeed;
  border-radius: 15px;
  border: 5px solid #14aeed;
}

a:hover,
a:focus {
  color: #000000;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: #02295d;
  border: 5px solid #000000;
  color: #ecad82;
  cursor: pointer;
}

.search-results li figure:hover,
.search-results li figure:focus {
  border: 5px solid #02295d;
  cursor: pointer;
}

@media (max-width: 760px) {
  body {
    font-size: 2.3rem;
  }
}

@media (max-width: 550px) {
  button {
    font-size: 2rem;
    padding: 10px 5px;
  }
}

header {
  background-color: #14aeed;
  padding: 50px 0px;
  position: relative;
}

h1 {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 7rem;
  color: #ffffff;
  color: white;
  font-weight: 800;
  text-align: center;
  width: 100%;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

header figure {
  width: 150px;
  height: 150px;
  position: absolute;
  overflow: hidden;
}

.soot-1 {
  top: 0px;
  right: 28px;
}

.soot-1 img {
  -webkit-transform: rotate(47deg);
          transform: rotate(47deg);
}

.soot-2 {
  left: 0px;
  bottom: -10px;
}

.soot-2 img {
  -webkit-transform: rotate(-17deg);
          transform: rotate(-17deg);
}

.soot-3 {
  left: 147px;
  top: -78px;
}

.soot-3 img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header span {
  display: block;
}

@media (max-width: 940px) {
  h1 {
    font-size: 5rem;
  }
  header {
    padding: 75px 0px;
  }
  header figure {
    width: 125px;
    height: 125px;
  }
  .soot-3 {
    top: -60px;
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 4rem;
  }
  .soot-3 {
    left: 30px;
  }
}

section {
  padding: 25px 0px;
}

.search-section {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-bar {
  margin-bottom: 35px;
}

label {
  padding-right: 20px;
}

input[type="text"] {
  padding: 0 50px;
  border: solid black 1px;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 25px;
}

fieldset {
  text-align: center;
}

h2 {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 3rem;
  text-align: center;
  color: #000000;
  font-weight: 800;
  text-transform: uppercase;
}

.search-results ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-results li {
  text-align: center;
  width: 400px;
}

.search-results li figure {
  border: 5px solid #ffffff;
}

.search-results figure {
  width: 400px;
  height: 550px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.film-title {
  margin: 0 auto 100px;
}

h3 {
  font-size: 3rem;
  padding: 30px 0px;
  width: 80%;
}

.error-results,
.description-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(20, 174, 237, 0.85);
}

.error-results div,
.description-box div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  text-align: center;
  background-color: #86dcd1;
  color: #000000;
  border: 5px solid black;
}

.description-box div {
  width: 75%;
}

.error-results div {
  max-width: 500px;
  width: 80%;
  min-width: 250px;
}

.error-results figure {
  width: 50%;
}

.error-results button,
.description-box button {
  margin-bottom: 30px;
}

.description-box p {
  font-size: 2rem;
  font-style: italic;
  padding: 25px;
  line-height: 40px;
  text-transform: lowercase;
}

.description-box h2 {
  padding-top: 25px;
}

@media (max-width: 550px) {
  input[type="text"] {
    width: 200px;
  }
  .search-results figure {
    max-width: 250px;
    height: 350px;
  }
  .description-box p {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 2.2rem;
  }
}

footer {
  background-color: #14aeed;
  text-align: center;
  padding: 20px;
}

footer p {
  color: #ffffff;
  font-size: 2.2rem;
}

@media (max-width: 760px) {
  footer p {
    font-size: 1.8rem;
    line-height: 26px;
  }
}
